openapi: 3.0.0
info:
  title: The R-hub R versions API
  version: 1.0.0
  contact:
    email: admin@r-hub.io
  license:
    name: The MIT License
    url: 'https://opensource.org/licenses/MIT'
  x-logo:
    url: 'https://github.com/r-hub/branding/raw/master/logo/rhub-header.png'
  description: |
    This service is an API to query current and past R versions
    and installers. You can use it is devops scripts, e.g. for continuous
    integration tools, to query which version(s) or R you want to install.
    It is updated every hour, so a new R release or a new installer is
    typically picked up within on hour.

    ### Format

    This is a JSON API, all responses are JSON.

    ### The R release process

    In the current R release process, there is a new major or minor release
    every year, typically in April. There are also several patch releases.
    Once there is a newer major or minor release, the older major or minor
    releases typically do not get new patch releases. (E.g. once R 3.6.0 is out,
    the R 3.5.x minor branch will not receive more releases.)

    ### Typical use cases

    * To report the currently released version of R, use `/r-release`.
    * To download and compile the currently released version of R, use
      `/r-release-tarball`.
    * To download the latest Windows or macOS installer, use `/r-release-win`
      or `/r-release-macos`, respectively.
    * To report or download the source or an installer for the latest release
      or the penultimate R minor branch (R-oldrel as CRAN calls it), use
      `/r-oldrel`.

    ### Feedback

    The source code of this service lives at
    <https://github.com/r-hub/rversions.app#readme>.

    You can download the [OpenApi 3.0.x](https://www.openapis.org/)
    [specification of this API.](/openapi.yaml)

    To report bugs please use the issue tracker at
    <https://github.com/r-hub/rversions.app/issues>.

    ### Copyright

    This service is part of the [R-hub project](https://r-hub.io),
    supported by the [R Consortium](https://www.r-consortium.org).

servers:
  - url: https://api.r-hub.io/rversions/

paths:
  '/resolve/:version/:os/:arch':
    parameters:
    - name: version
      in: path
      required: true
      description: |
        Must be one of:
        - `devel`: Development version of R.
        - `next`: The next version of R, see the `r-next` endpoint.
        - `release`: R release, see the `r-release` endpoint.
        - `oldrel`: The previous version of R, not counting patch versions.
        - `oldrel/n`: The n-th previous version of R, not counting patch versions.
        - `x.y.z`: A specific R version, e.g. `4.0.4`.
        - `x.y`: The last patch release from a minor R branch, e.g. `4.1`.
      schema:
        type: string
    - name: os
      in: path
      required: false
      description: |
        Operating system. One of:
        - `win`
        - `macos`
        - `linux-<distro>-<release>`

        Currently supported Linux distros are:
        - `ubuntu` (18.04, 20.04, 22.04),
        - `centos` (7, 9),
        - `debian` (10, 11),
        - `rhel` (9),
        - `opensuse` (15.3, 15.4),
        - `almalinux` (8.x, 9.x),
        - `rocky` (8.x, 9.x).
      schema:
        type: string
    - name: arch
      in: path
      required: false
      description: |
        Architecture. Only specify it if 'os' is also specified. It can be
        - `x86_64` (the default), and
        - `arm64`
        for Linux and macOS. For Windows if must be missing currently.
      schema:
        type: string
    get:
      summary: Resolve an arbitrary R version specification
      description: |
        Resolve an R version specification.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fullversion'
              examples:
                r-release:
                  value:
                    version: "4.2.3"
                    nickname: "Shortstop Beagle"
                    type: "release"
                    url: "https://cran.r-project.org/src/base/R-4/R-4.2.3.tar.gz"
                    date: "2023-03-15T08:06:01.008593Z"
                r-devel-windows:
                  value:
                    version: "4.4.0"
                    nickname: "Unsuffered Consequences"
                    type: "devel"
                    url: "https://cloud.r-project.org/bin/windows/base/R-devel-win.exe"
                    date: null
                    rtools: "43"
                    rtools_url: "https://github.com/r-hub/rtools43/releases/download/latest/rtools43.exe"

  '/available/:os/:arch':
    parameters:
    - name: os
      in: path
      required: true
      description: |
        Operating system. One of:
        - `win`
        - `macos`
        - `linux-<distro>-<release>`

        Currently supported Linux distros are:
        - `ubuntu` (18.04, 20.04, 22.04),
        - `centos` (7, 9),
        - `debian` (10, 11),
        - `rhel` (9),
        - `opensuse` (15.3, 15.4),
        - `almalinux` (8.x, 9.x),
        - `rocky` (8.x, 9.x).
      schema:
        type: string
    - name: arch
      in: path
      required: false
      description: |
        Architecture. Only specify it if 'os' is also specified. It can be
        - `x86_64` (the default), and
        - `arm64`
        for Linux and macOS. For Windows if must be missing currently.
      schema:
        type: string
    get:
      summary: List available versions for a platform.
      description: |
        List all available R buidls for a platform and architecture.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/avversion'


  /r-release:
    get:
      summary: R-release
      description: |
        The current released version of R.
        Determined from the R SVN repository. It you need a version
        for which an installer or tarball is available for download, look at the
        other endpoints.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'
              example:
                version: '3.6.3'
                date: "2020-02-29T08:05:16.744223Z"
                nickname: "Holding the Windsock"


  /r-oldrel:
    get:
      summary: R oldrel
      description: |
        The last release of the previous minor branch.
        E.g. if the latest released version is '3.6.3', then 'oldrel'
        is the latest patch version of the '3.5' branch, currently '3.5.3'.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'

  '/r-oldrel/:n':
    parameters:
    - name: n
      in: path
      required: true
      description: Number of minor versions to go back.
      schema:
        type: integer
    get:
      summary: Legacy R versions
      description: |
        Last releases of previous minor branches. E.g. `r-oldrel/2` is the
        release that was `oldrel` before the current R release. `r-oldrel/1`
        is the same as `r-oldrel`.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'

  /r-release-tarball:
    get:
      summary: Latest source tarball.
      description: |
        The latest version with a downloadable source code tarball.
        This is usually the same as 'r-release', but it might take
        some time to create a source tarball from the SVN tag. Typically you
        query the release version because you want to download a source tarball or
        an installer. Use this end point if you want to download a source tarball.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tarball'

  /r-release-win:
    get:
      summary: Latest Windows installer.
      description: |
        The latest version for which a Windows installer is available.
        This is usually the same as 'r-release', but there is typically
        a short delay until the Windows installer is built from the release.
        Use this end point if you want to download the current Windows installer.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installer-win'

  /r-release-macos:
    get:
      summary: Latest macOS installer.
      description: |
        The latest version for which a macOS installer is aavilable.
        This is usually the same as 'r-release', but there is typically
        a short delay until the macOS installer is built from the release.
        Use this end point if you want to download the current macOS installer.
        `r-release-macos-x86_64` is an alias of this endpoint.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installer-macos'

  /r-release-macos-arm64:
    get:
      summary: Latest arm64 macOS installer.
      description: |
        The latest version for which an arm64 macOS installer is aavilable.
        This is usually the same as 'r-release', but there is typically
        a short delay until the macOS installer is built from the release.
        Use this end point if you want to download the current macOS installer.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installer-macos'

  /r-next:
    get:
      summary: The next R release.
      description: |
        The next release is R-patched if there is no release process
        currently. Otherwise it may be R-alpha, R-beta, R-rc or R-prerelease.
        `r-prerelease` is an alias for this endpoint.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/next'

  /r-next-win:
    get:
      summary: Windows installer for the next release.
      description: |
        Windows installer for the next version of R. This can be an installer
        for `r-next`, or the installer for R-patched, if an installer is not
        available (yet) for R-alpha, R-beta, etc.
        `r-prerelease-win` is an alias for this endpoint.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/next-win'

  /r-next-macos:
    get:
      summary: macOS installer for the next R release.
      description: |
        macOS installer for the next version of R. This can be an installer
        for `r-next`, or the installer for R-patched, if an installer is not
        available (yet) for R-alpha, R-beta, etc.
        `r-prerelease-macos` is an alias for this endpoint.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/next-macos'

  /r-next-macos-arm64:
    get:
      summary: arm64 macOS installer for the next R release.
      description: |
        arm64 macOS installer for the next version of R. This can be an installer
        for `r-next`, or the installer for R-patched, if an installer is not
        available (yet) for R-alpha, R-beta, etc.
        `r-prerelease-macos-arm64` is an alias for this endpoint.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/next-macos'

  /r-versions:
    get:
      summary: All R versions.
      description: |
        All released R versions, ordered by version number.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/version'

  /rtools-versions:
    get:
      summary: All Rtools versions.
      description: |
        All released Rtools versions, ordered by version number.
      responses:
        '200':
          description: Successful query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/rtoolsversion'


components:
  schemas:
    version:
      properties:
        version:
          type: string
          pattern: '^\d+\.\d+(\.\d+)?$'
        date:
          type: string
          format: date-time
        nickname:
          type: string
      required:
        - version
        - date
        - nickname
      example:
        version: '3.6.3'
        date: "2020-02-29T08:05:16.744223Z"
        nickname: "Holding the Windsock"

    rtoolsversion:
      properties:
        version:
          type: string
          pattern: '^\d+$'
        url:
          type: string
          format: uri
        first:
          type: string
          pattern: '^\d+\.\d+(\.\d+)?$'
        last:
          type: string
          pattern: '^\d+\.\d+(\.\d+)?$'
      required:
        - version
        - url
        - first
        - last
      example:
        version: '42'
        url: 'https://github.com/r-hub/rtools42/releases/download/latest/rtools42.exe'
        first: '4.2.0'
        last: '4.2.100'

    fullversion:
      properties:
        version:
          type: string
          pattern: '^\d+\.\d+(\.\d+)?$'
        date:
          type: string
          format: date-time
        nickname:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri
        rtools:
          type: string
        rtools_url:
          type: string
          format: uri
      required:
        - version
        - date
        - nickname
        - type
        - url
      example:
        version: "4.2.3"
        nickname: "Shortstop Beagle"
        type: "release"
        url: "https://cran.r-project.org/src/base/R-4/R-4.2.3.tar.gz"
        date: "2023-03-15T08:06:01.008593Z"

    avversion:
      properties:
        version:
          type: string
          pattern: '^\d+\.\d+(\.\d+)?$'
        name:
          type: string
        date:
          type: string
          format: date-time
        type:
          type: string
        url:
          type: string
          format: uri
      required:
        - version
        - date
        - name
        - type
        - url
      example:
        version: "4.2.3"
        name: "4.2.3"
        type: "release"
        url: "https://cran.r-project.org/src/base/R-4/R-4.2.3.tar.gz"
        date: "2023-03-15T08:06:01.008593Z"

    tarball:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            URL:
              type: string
              format: uri
              pattern: '\.tar\.gz$'
          required:
          - URL
          example:
            URL: "https://cran.r-project.org/src/base/R-3/R-3.6.3.tar.gz"

    installer-win:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            URL:
              type: string
              format: uri
              pattern: '\.exe$'
          required:
          - URL
          example:
            URL: "https://cran.r-project.org/bin/windows/base/R-3.6.3-win.exe"

    installer-macos:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            URL:
              type: string
              format: uri
              pattern: '\.pkg$'
          required:
          - URL
          example:
            URL: "https://cran.r-project.org/bin/macosx/R-3.6.3.pkg"

    next:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            type:
              type: string
            URL:
              type: string
              format: uri
          required:
          - type
          - URL
          example:
            type: "alpha"
            URL: "https://cran.r-project.org/src/base-prerelease/R-latest.tar.gz"

    next-win:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            type:
              type: string
            URL:
              type: string
              format: uri
              pattern: '\.exe$'
          required:
          - type
          - URL
          example:
            type: "alpha"
            URL: "https://cran.r-project.org/bin/windows/base/R-4.2.0alpha-win.exe"

    next-macos:
      allOf:
        - $ref: '#/components/schemas/version'
        - type: object
          properties:
            type:
              type: string
            URL:
              type: string
              format: uri
              pattern: '\.pkg$'
          required:
          - type
          - URL
          example:
            type: "patcheda"
            URL: "https://mac.r-project.org/high-sierra/last-success/R-4.1-branch-x86_64.pkg"
